/*--------------------------------------------------------------
Flex styling for Note content
--------------------------------------------------------------*/
.flex-form {
    display: flex;
    flex-flow: row wrap;
    height: 65px;
    padding-bottom: 4px;
}

.flex-row {
    width: 100%;
    /*background-color: darkorange;*/
    padding-bottom: 5px;
    display: flex;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

.form-area {
    background-color: beige;
    padding-top: 15px;
    height: 580px;
    width: 700px;
    margin: 0 auto;
    border: groove;
    box-sizing: border-box;
}

.note > label {
    flex: 1;
}

.note > input, textarea {
    flex: 3;
    /*background-color: #d8dab9;*/
}

#submitnote {
    width: 100%;
    margin: 0 10px 0 10px;
}

#cancelnote {
    margin-right: 10px;
}

#date-completion {
    width: auto;
}

.align-button-right {
    justify-content: flex-end;
}

.priority {
    flex: 3;
}

.priority input {
    cursor: pointer;
    margin: 2px 6px 2px 6px;
}
.calendar {
    flex:3;
    align-content: flex-start;
}

.calendar > img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding-left: 3px;
}
.selection-border {
    border-color: black;
    border-style: solid;
    border-width: 0.1px;
}





