/*--------------------------------------------------------------
Flex styling for Note content
--------------------------------------------------------------*/
body {
    background-color: #d8dab9;
}
.bodyColor {
    background-color: #4eb7da;
}

.flex-content {
    display: flex;
    flex-flow: column;

}

.flex-buttons {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    height: 65px;
    padding-bottom: 10px;
}

.flex-list {
    display: flex;
    /*justify-content: space-around;*/
}

.flex-list > label {
    width: 110px;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

.topbar {
    /*background-color: #b46ae3;*/
    height: 45px;
}

.leftbar {
    /*background-color: #51a7fa;*/
}

.main-content {
    /*background-color: #70bf40;*/
}

.rightbar {
    /*background-color: #f49018;*/
}

.notemenu {
    /*background-color: #f4e456;*/
    flex: 1;

}

.notelist {
    /*background-color: #d8dab9;*/
    flex: 2;
}

.footer-content {
    /*background-color: #0265c0;*/
    height: 45px;
}

.button-sorter > button:nth-of-type(4) {
    margin-left: auto;
}

.todo-list {
    box-sizing: border-box;
    padding: 5px 0px 5px 0px;
    align-items: flex-end;
}

.todo-list > button {
    height: 45px;
    width: 55px;
}

.todo-list > label {
    width: 150px;
   align-self: center;
}

.todo-list div > textarea {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.todo-list div > span {
    width: 80%;
    height: 100%;
}

.todo-list > div {
    width: 70%;
    padding-left: 15px;
    padding-right: 25px;
    flex-flow: column;
}

.hide-block {
    display: none;
}

.button-styles {
    border: solid 1px;
    border-color: #AFAFAF;
    font: 14px arial;
    /*display: inline-block;*/
    padding: 5px 7px;
    text-decoration: none;
    color: inherit;
    background-color: #E8E8E8;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: auto;
    /*height: 45px;*/
}





